body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.ul {
  padding: 0px !important;
}
.menu-principal {
  width: 100%;
  background-color: #570b0b;
  height: 65px;
}
main {
  margin: 0 auto;
  width: 980px;
  position: relative;
}
.logo {
  float: left;
  padding: 1px;
  width: 70%;
}
.redes-sociais ul li {
  margin-left: 8px;
  display: inline-block;
  float: left;
}
.redes-sociais {
  width: 24%;
  float: right;
}
.header-2 {
  background-color: black;
  width: 980px;
  margin: 0 auto;
}
.menu-urls {
  height: 45px;
  border-bottom: 3px solid #000000;
}
.menu ul li {
  display: inline-block;
  color: #570b0b;
  margin-left: 15px;
  height: 32 px;
}
.menu ul li a {
  color: #570b0b;
  text-decoration: none;
  font-size: 19px;
  text-transform: initial;
  margin: 16px;
}
.menu ul li:hover {
  border-bottom: 3px solid #8f8c8c;
}
.menu ul li a:hover {
  color: #8f8c8c;
}
.menu {
  width: 70%;
  float: left;
}
.busca {
  /*text-align: center;*/
  width: 30%;
  float: right;
}
.busca input {
  width: 160px;
  padding: 10px;
  height: 15px;
  margin-top: 12px;
}
.col-100 {
  width: 100%;
  float: left;
  position: relative;
}
button.slick-prev {
  font-size: 0px;
  border: none;
  width: 70px;
  height: 75px;
  background-color: transparent;
  background-image: url("../img/anterior.png");
  position: absolute;
  z-index: 9;
  top: 65%;
  left: 3%;
}
button.slick-next {
  font-size: 0px;
  border: none;
  width: 70px;
  height: 75px;
  background-color: transparent;
  background-image: url("../img/posterior.png");
  position: absolute;
  z-index: 9;
  top: 65%;
  right: 3%;
}
